@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,300,400,500,600,700,800,900");
body {
  background-color: #1e1e1e; }

a.active_page {
  text-decoration: none;
  color: white;
  position: relative; }
  a.active_page::after {
    content: '';
    position: absolute;
    background-color: #EBC244;
    bottom: -8px;
    right: 0;
    width: 100%;
    height: 5px;
    transition: all 0.2s; }

::selection {
  background-color: #EBC244;
  color: white; }

header.mainpage {
  position: fixed;
  color: white;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 20px; }
  header.mainpage ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: "Montserrat", sans-serif; }
    header.mainpage ul li {
      position: relative;
      padding: 0 50px;
      font-size: 2.8rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px; }
      header.mainpage ul li .link {
        text-decoration: none;
        color: white;
        position: relative; }
        header.mainpage ul li .link::after {
          content: '';
          position: absolute;
          background-color: #EBC244;
          bottom: -10px;
          right: 0;
          width: 0%;
          height: 5px;
          transition: all 0.2s; }
    header.mainpage ul li:hover a::after {
      width: 100%;
      left: 0; }
    header.mainpage ul img {
      height: 60px;
      width: 200px; }

.slider {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  height: 100vh; }
  .slider .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    filter: contrast(70%); }
    .slider .background::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2); }
  .slider .description {
    display: flex;
    z-index: 1;
    max-width: 30vw;
    margin-left: 20vw;
    color: white; }
    .slider .description img {
      width: 100px;
      height: 100px;
      margin: 0 20px;
      border-radius: 5px;
      background-color: grey; }
    .slider .description .message {
      font-size: 2rem; }
      .slider .description .message h1 {
        font-size: 2.2rem; }
      .slider .description .message p {
        font-size: 1.8rem; }
  .slider .down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 50px;
    width: 50px; }

main {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #181818; }
  main .support {
    color: white;
    margin-bottom: 80px;
    padding: 20px 50px;
    border-radius: 50px;
    font-weight: bold; }
    main .support p {
      position: relative;
      font-size: 2.4rem; }
      main .support p::after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 40%;
        height: 2px;
        background-color: #EBC244;
        transition: all 0.2s; }
  main .support:hover p::after {
    width: 120%;
    left: -76px; }

footer {
  color: white;
  position: relative;
  background: linear-gradient(to top, #393939, #181818);
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 15; }
  footer .share {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase; }
    footer .share__button {
      color: white;
      padding: 5px 150px;
      margin: 10px 0;
      border-radius: 20px;
      font-weight: 500; }
    footer .share p {
      font-weight: 800;
      margin: 0 0 30px 0; }

.twitter {
  background-color: #1F95E0; }

.instagram {
  background: linear-gradient(to left, #6050CA, #CB39A3, #F54F51, #FDCF54);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.facebook {
  background-color: #38589A; }

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%; }

/*# sourceMappingURL=style.css.map */
