@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,300,400,500,600,700,800,900");
@keyframes wave1 {
  from {
    transform: rotate(12deg);
    border-radius: 150px; }
  50% {
    transform: rotate(192deg);
    border-radius: 250px; }
  to {
    transform: rotate(372deg);
    border-radius: 150px; } }
@keyframes wave2 {
  from {
    transform: rotate(60deg);
    border-radius: 200px; }
  50% {
    transform: rotate(240deg);
    border-radius: 150px; }
  to {
    transform: rotate(420deg);
    border-radius: 200px; } }
@keyframes wave3 {
  from {
    transform: rotate(128deg);
    border-radius: 250px; }
  50% {
    transform: rotate(308deg);
    border-radius: 150px; }
  to {
    transform: rotate(488deg);
    border-radius: 250px; } }
body {
  background-color: #1e1e1e; }

a.active_page {
  text-decoration: none;
  color: white;
  position: relative; }
  a.active_page::after {
    content: '';
    position: absolute;
    background-color: #EBC244;
    bottom: -8px;
    right: 0;
    width: 100%;
    height: 5px;
    transition: all 0.2s; }

::selection {
  background-color: #EBC244;
  color: white; }

header.mainpage {
  position: fixed;
  color: white;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 20px; }
  header.mainpage ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: "Montserrat", sans-serif; }
    header.mainpage ul li {
      position: relative;
      padding: 0 50px;
      font-size: 2.8rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px; }
      header.mainpage ul li .link {
        text-decoration: none;
        color: white;
        position: relative; }
        header.mainpage ul li .link::after {
          content: '';
          position: absolute;
          background-color: #EBC244;
          bottom: -10px;
          right: 0;
          width: 0%;
          height: 5px;
          transition: all 0.2s; }
    header.mainpage ul li:hover a::after {
      width: 100%;
      left: 0; }
    header.mainpage ul img {
      height: 60px;
      width: 200px; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10; }

.slider {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  height: 100vh; }
  .slider .description {
    display: flex;
    z-index: 1;
    max-width: 30vw;
    margin-left: 20vw;
    color: white; }
    .slider .description img {
      width: 100px;
      height: 100px;
      margin: 0 20px;
      border-radius: 5px;
      background-color: grey; }
    .slider .description .message {
      font-size: 2rem; }
      .slider .description .message h1 {
        font-size: 2.2rem; }
      .slider .description .message p {
        font-size: 1.8rem; }
  .slider .down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    height: 50px;
    width: 50px; }

main {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #181818; }
  main .support {
    color: white;
    margin-bottom: 80px;
    padding: 20px 50px;
    border-radius: 50px;
    font-weight: bold; }
    main .support p {
      position: relative;
      font-size: 2.4rem; }
      main .support p::after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        width: 40%;
        height: 2px;
        background-color: #EBC244;
        transition: all 0.2s; }
  main .support:hover p::after {
    width: 120%;
    left: -76px; }

footer {
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  background: linear-gradient(to top, #393939, #181818);
  display: flex;
  justify-content: center;
  padding: 20px;
  z-index: 15; }
  footer .share {
    display: flex;
    flex-direction: column;
    font-size: 2.8rem;
    text-align: center;
    text-transform: uppercase; }
    footer .share__button {
      color: white;
      padding: 5px 150px;
      margin: 10px 0;
      border-radius: 20px;
      font-weight: 500; }
    footer .share p {
      font-weight: 800;
      margin: 0 0 30px 0; }

.twitter {
  background-color: #1F95E0; }

.instagram {
  background: linear-gradient(to left, #6050CA, #CB39A3, #F54F51, #FDCF54);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.facebook {
  background-color: #38589A; }

.presentation {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: "Montserrat", sans-serif;
  z-index: -10; }
  .presentation h1 {
    font-size: 9rem;
    text-transform: uppercase;
    max-width: 900px; }
  .presentation p {
    font-size: 2.4rem;
    max-width: 900px;
    text-align: center; }
  .presentation .down {
    margin: 20em 0 60px 0;
    height: 50px;
    width: 50px; }

.first_screen {
  position: relative;
  display: flex;
  height: 100vh;
  color: white; }
  .first_screen .background_perfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .first_screen .left {
    width: 50vw; }
    .first_screen .left h3 {
      margin: 120px 90px 0 90px;
      font-size: 15rem;
      text-transform: uppercase; }
    .first_screen .left p {
      margin: 0 90px;
      font-size: 2.3rem; }
  .first_screen .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vw; }
    .first_screen .right .items {
      margin: 0 0 0 30px; }
      .first_screen .right .items h3 {
        font-size: 2rem; }
      .first_screen .right .items p {
        font-size: 1.6rem;
        line-height: 1.5em; }
    .first_screen .right .items-w-icon {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 40px 150px; }

.second_screen {
  position: sticky;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  height: 100vh;
  color: white; }
  .second_screen .background_perfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .second_screen .left {
    width: 50vw; }
    .second_screen .left h3 {
      margin: 120px 90px 0 90px;
      font-size: 15rem;
      text-transform: uppercase; }
    .second_screen .left p {
      margin: 0 90px;
      font-size: 2.3rem; }
  .second_screen .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw; }
    .second_screen .right .items {
      margin: 0 0 0 30px; }
      .second_screen .right .items h3 {
        font-size: 2rem; }
      .second_screen .right .items p {
        font-size: 1.6rem;
        line-height: 1.5em; }
    .second_screen .right .items-w-icon {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 40px 150px; }

.species {
  height: 100vh;
  background-color: #181818; }
  .species .wave_container {
    position: relative;
    width: 100%;
    height: 100%;
    color: white; }
    .species .wave_container .wave {
      position: absolute;
      top: 20%;
      left: 35%;
      border: solid 1px grey;
      height: 300px;
      width: 550px;
      height: 550px; }
    .species .wave_container #wave1 {
      transform: rotate(12deg);
      border-radius: 150px;
      animation: 8s infinite linear wave1; }
    .species .wave_container #wave2 {
      transform: rotate(60deg);
      border-radius: 200px;
      animation: 8s infinite linear wave2; }
    .species .wave_container #wave3 {
      transform: rotate(98deg);
      border-radius: 250px;
      animation: 8s infinite linear wave3; }

.plus_icon {
  width: 50px;
  height: 50px;
  transition: all 1s;
  transition-timing-function: ease-in-out; }
  .plus_icon:hover {
    transform: rotate(360deg); }

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%; }

/*# sourceMappingURL=style.css.map */
