@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,300,400,500,600,700,800,90');
@import url('https://fonts.googleapis.com/css?family=Anton');

$font: 'Montserrat', sans-serif;
$font2: 'Anton', sans-serif;
$maincolor: white;
$colortwo: #EBC244;
