
a.active_page{
        text-decoration: none;
        color: white;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-color: #EBC244;
            bottom:-8px;
            right:0;
            width:100%;
            height:5px;
            transition: all 0.2s;
        }
    }
header.mainpage{
    position: fixed;
    color: white;
    top:0px;
    left: 0px;
    z-index: 10;
    padding: 20px;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        font-family: $font;
        li{
            position: relative;
            padding: 0 50px;
            font-size: 2.6rem;
            font-weight: 700;
            .link{
                text-decoration: none;
                color: white;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    background-color: #EBC244;
                    bottom:-8px;
                    right:0;
                    width:0%;
                    height:5px;
                    transition: all 0.2s;
                }
            }
        }
        li:hover a::after{
            width:100%;
            left:0;
        }
        img{
            height:60px;
            width:200px;
        }
    }
}
.slider{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    font-family: $font;
    align-items: center;
    height: 100vh;
    .background{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -5;
    }
    .description{
        display: flex;
        z-index: 1;
        max-width: 30vw;
        margin-left: 20vw;
            img{
                width: 100px;
                height:100px;
                margin: 0 20px;
                border-radius: 5px;
                background-color: grey;
            }
            .message{
                font-size: 2rem;
                h1{
                    font-size: 2.2rem;
                }
            }
        }
        .down{
            position: absolute;
            bottom: 50px;
            left: 50%;
            height:50px;
            width: 50px;
        }
    }
main{
    font-family: $font;
    font-size: 2.4rem;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: grey;
    .support{
        margin-bottom: 80px;
        padding: 20px 50px;
        border-radius: 50px;
        border: solid 3px #EBC244;
        background-color:white;
        font-weight: bold;
    }
}
footer{
    color: white;
    position: relative;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    padding: 20px;
    z-index: 15;
    .share{
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
        &__button{
            color: #1e1e1e;
            border: solid 1px white;
            padding: 5px 100px;
            background-color: white;
            margin: 10px 0;
        }
        p{
            text-align:center;

        }
    }
}
