header.mainpage{
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: $maincolor;
    padding: 20px;
    box-shadow: 1px -20px 50px #1e1e1e;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        font-family: $font;
        font-size: 2.4rem;
        li{
            padding: 0 50px;
        }
        img{
            height:60px;
            width:200px;
        }
    }
}
.slider{
    display: flex;
    position: relative;
    background: url("../images/bg.png");
    font-family: $font;
    align-items: center;
    height: 100vh;
    .description{
        display: flex;
        max-width: 30vw;
        margin-left: 20vw;
            img{
                width: 100px;
                height:100px;
                margin: 0 20px;
                border-radius: 5px;
                background-color: grey;
            }
            .message{
                font-size: 2rem;
                h1{
                    font-size: 2.2rem;
                }
            }
        }
        .down{
            position: absolute;
            bottom: 50px;
            left: 50%;
            height:50px;
            width: 50px;
        }
    }
main{
    position: relative;
    background-color: grey;
    img{
        position: absolute;
        width: 100%;
    }
}
