body{
    background-color: #1e1e1e;
}
a.active_page{
        text-decoration: none;
        color: white;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-color: $colortwo;
            bottom:-8px;
            right:0;
            width:100%;
            height:5px;
            transition: all 0.2s;
        }
    }
::selection{
    background-color:  $colortwo;
    color: white;
}
header.mainpage{
    position: fixed;
    color: white;
    top:0px;
    left: 0px;
    z-index: 10;
    padding: 20px;
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        font-family: $font;
        li{
            position: relative;
            padding: 0 36px;
            font-size: 2.8rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            .link{
                text-decoration: none;
                color: white;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    background-color: $colortwo;
                    bottom:-10px;
                    right:0;
                    width:0%;
                    height:5px;
                    transition: all 0.2s;
            }
        }
    }
        li:hover a::after{
            width:100%;
            left:0;
        }
        img{
            height:60px;
            width:200px;
        }
    }
}
.slider{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    font-family: $font;
    align-items: center;
    height: 100vh;
    .background{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        z-index: -5;
        filter: contrast(70%);
        &::after{
            content: '';
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(255,255,255,0.2);
        }
    }
    .description{
        display: flex;
        z-index: 1;
        max-width: 65vw;
        margin-left: 4vw;
        color:white;
            img{
                margin: 0 20px;
                border-radius: 5px;
                width: 190px;
                height: 190px;
            }
            .message{
                font-size: 2rem;
                h1{
                    font-family: $font2;
                    letter-spacing: 3px;
                    font-size: 4rem;
                    font-weight: lighter;
                }
                p{
                    width: 90%;
                    font-size: 1.2em;
                    line-height: 3rem;
                    font-weight: 400;
                    height: 92px;
                }
                .sliderDot{
                  width: 26px;
                  height: 26px;
                  border-radius: 100%;
                  background-color: rgba(255,255,255, 0.65);
                  display: inline-block;
                  margin-left: 26px;
                  margin-top: 20px;
                }
                .sliderDot:hover{
                  cursor: pointer;
                }
                .onfocus{
                  background-color: rgb(237, 195, 69);
                }
            }
        }
        .down{
            position: absolute;
            bottom: 50px;
            left: 50%;
            height:40px;
            width: 40px;
            transform: rotate(45deg);
            border-right: 4px solid black;
            border-bottom: 4px solid black;
            transition: all 0.7s ease-in-out;
        }
    }
.down:hover{
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
}
main{
    font-family: $font;
    font-size: 3rem;
    height: 900px;
    position: relative;
    background-color: #181818;
    .support_project{
      width: 400px;
      margin: 0 auto;
      img{
        width: 400px;
      }
    }
}
footer{
    color: white;
    position: relative;
    background: linear-gradient(to top,#393939,#181818);
    display: flex;
    justify-content: center;
    padding: 20px;
    z-index: 15;
    .share{
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        text-align:center;
        letter-spacing: 1px;
        text-transform: uppercase;
        &__button{
            font-family: $font;
            color: white;
            padding: 5px 150px;
            margin: 10px 0;
            border-radius: 20px;
            font-weight: 500;
            cursor: pointer;
        }
        p{
            font-family: $font;
            font-weight: 800;
            margin: 0 0 30px 0;
        }
    }
}
.twitter{
    background-color: #1F95E0;
}
.instagram{
    background: linear-gradient(to left, #6050CA, #CB39A3, #F54F51, #FDCF54 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.facebook{
    background-color: #38589A;
}

@media only screen and (max-width: 1450px){
  .message p{
    width: 100%;
  }
}
