.presentation{
    position: sticky;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    color: $maincolor;
    font-family: $font;
    z-index: -10;
    h1{
        font-size: 9rem;
        text-transform: uppercase;
        max-width: 900px;    }
    p{
        font-size: 2.4rem;
        max-width: 900px;
        text-align: center;
    }
    .down{
        margin: 20em 0 60px 0;
        height:50px;
        width: 50px;
    }
}
    .support_button{
        position: fixed;
        bottom: 30px;
        left: 30px;
        padding: 20px 50px;
        font-size: 2.4rem;
        font-family: $font;
        color: white;
        background-color: $colortwo;
        z-index: 80;
        border-radius: 5px;

    }
    .first_screen{
        position: relative;
        display: flex;
        height: 100vh;
        color: $maincolor;
        font-family: $font;
        .background_perfo{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index: -1;
        }
        .left{
            width:50vw;
            h3{
                margin: 120px 90px 0 90px;
                font-size: 15rem;
                text-transform: uppercase;
            }
            p{
                margin:0 90px;
                font-size: 2.3rem;
            }
        }
        .right{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width:50vw;
            .items{
                margin: 0 0 0 30px;
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 1.5em;
                }
            }
            .items-w-icon{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 40px 150px;
            }
        }
    }
    .second_screen{
        position: sticky;
        top:0;
        left:0;
        position: relative;
        display: flex;
        height: 100vh;
        color: $maincolor;
        font-family: $font;
        .background_perfo{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index: -1;
        }
        .left{
            width:50vw;
            h3{
                margin: 120px 90px 0 90px;
                font-size: 15rem;
                text-transform: uppercase;
            }
            p{
                margin:0 90px;
                font-size: 2.3rem;
            }
        }
        .right{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            width:50vw;
            .items{
                margin: 0 0 0 30px;
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: 1.6rem;
                    line-height: 1.5em;
                }
            }
            .items-w-icon{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 40px 150px;

            }
        }
    }
.species{
    position: relative;
    height: 100vh;
    background-color: #181818;
    .wave_container{
        position: absolute;
        width:100%;
        height:100%;
        color: white;
        .wave{
            position: absolute;
            top:20%;
            left:33%;
            border: solid 1px grey;
            height: 300px;
            width: 550px;
            height: 550px;
            }
            #wave1{
                transform: rotate(12deg);
                border-radius: 150px;
                animation: 8s infinite linear wave1;
            }
            #wave2{
                transform: rotate(60deg);
                border-radius: 200px;
                animation: 8s infinite linear wave2;
            }
            #wave3{
                transform: rotate(98deg);
                border-radius: 250px;
                animation: 8s infinite linear wave3;
            }
        }
        .white_round{
            width: 50px;
            height: 50px;
            border: 4px solid white;
            border-radius: 50px;
        }
        .first_species{
            font-family: $font;
            display: flex;
            justify-content: space-evenly;
            color: white;
            font-size: 8rem;
            padding: 140px 0 0 0;
            h2{
                font-size: 3rem;
                margin: 0 0 20px 0;
            }
            p{
                font-weight: 300;
                margin: 5px 0;
            }
            .first_of_four{
                display: flex;
                &_text{
                    text-align: right;
                    margin:0 50px;
                }
            }
            .second_of_four{
                display: flex;
                &_text{
                    text-align: left;
                    margin: 0 50px;
                    max-width: 350px;
                }
            }
        }
        .second_species{
            font-family: $font;
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 8rem;
            padding: 40px 250px 0 150px;
            h2{
                font-size: 3rem;
                margin: 0 0 20px 0;
            }
            p{
                font-weight: 300;
                margin: 5px 0;
            }
            .third_of_four{
                display: flex;
                &_text{
                    text-align: right;
                    margin:0 50px;
                }
            }
            .four_of_four{
                display: flex;
                &_text{
                    text-align: left;
                    margin: 0 50px;
                    max-width: 350px;
                }
            }
        }
    }
.plus_icon{
    width:50px;
    height:50px;
    transition: all 1s;
    transition-timing-function: ease-in-out;
    &:hover{
        transform: rotate(360deg);
    }
}
